/ImageEffects/Temp
/ImageEffects/Assembly-CSharp.csproj
/ImageEffects/ImageEffects.csproj
/ImageEffects/ImageEffects.sln
/ImageEffects/Unity.Analytics.DataPrivacy.csproj
/ImageEffects/Unity.CollabProxy.Editor.csproj
/ImageEffects/Unity.PackageManagerUI.Editor.csproj
/ImageEffects/Unity.TextMeshPro.csproj
/ImageEffects/Unity.TextMeshPro.Editor.csproj
/ImageEffects/.vs
/ImageEffects/Library
/ImageEffects/Logs
/ImageEffects/obj
