/ImageEffects/Temp
/ImageEffects/Assembly-CSharp.csproj
/ImageEffects/ImageEffects.csproj
/ImageEffects/ImageEffects.sln
/ImageEffects/Unity.Analytics.DataPrivacy.csproj
/ImageEffects/Unity.CollabProxy.Editor.csproj
/ImageEffects/Unity.PackageManagerUI.Editor.csproj
/ImageEffects/Unity.TextMeshPro.csproj
/ImageEffects/Unity.TextMeshPro.Editor.csproj
/ImageEffects/.vs
/ImageEffects/Library
/ImageEffects/Logs
/ImageEffects/obj
/.vs
/Library
/Logs
/obj
/Packages
/Temp
/Assembly-CSharp.csproj
/ImageEffects.csproj
/ImageEffects.sln
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
